<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <h2>Update pipelines for {{distro}} {{component}}</h2>
      {% set g = namespace(failed_count = 0, nopipeline_count = 0) -%}
      {% for p in packages -%}
        {% if not p.schedules[distro] -%}
          {% set g.nopipeline_count = g.nopipeline_count + 1 -%}
        {% elif p.schedules[distro].status == "failed" -%}
          {% set g.failed_count = g.failed_count + 1 -%}
        {% endif -%}
      {% endfor -%}
      <p>
         packages: <span class="text-success">{{ packages|length }}</span>,
         failed: <span class="text-danger">{{ g.failed_count }}</span>,
         no pipeline: <span class="text-warning">{{ g.nopipeline_count }}</span>
      </p>
      <table class="table-bordered table-striped">
        <thead>
          <tr>
            <th>Package</th>
            <th>Pipeline</th>
          </td>
        </thead>
        <tbody>
          {% for p in packages %}
            <tr> 
              <td> <a href="{{p.url}}">{{ p.name }} </a></td> 
              {% if p.schedules[distro] %}
                {% set schedule = p.schedules[distro] %}
                <td> <a class="{{ "text-success" if schedule.status == "success" else "text-danger" }}" href="{{schedule.last_url}}"> {{ schedule.status }} </a> </td>
              {% else %}
                <td class="text-warning"> NO PIPELINE </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
