<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Apertis dashboards</title>
  </head>
  <body>
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <ul>
      {% for d in distros %}
        {% for c in components %}
          <li>
            <a href="{{d}}-{{c}}-debian-updates.html"> Updates for {{d}} {{c}} </a>
          </li>
        {% endfor %}
      {% endfor %}
      </ul>
    </main>
  </body>
</html>
